@{
    ViewBag.Title = "Home Page";
}


<section class="elementor-section elementor-top-section elementor-element elementor-element-297d9f33 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="297d9f33" data-element_type="section" id="home" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-background-overlay"></div>
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-6f09ceab" data-id="6f09ceab" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-3956f2b1 elementor-widget elementor-widget-heading" data-id="3956f2b1" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <style>
                            /*! elementor - v3.9.1 - 14-12-2022 */
                            .elementor-heading-title {
                                padding: 0;
                                margin: 0;
                                line-height: 1
                            }

                            .elementor-widget-heading .elementor-heading-title[class*=elementor-size-] > a {
                                color: inherit;
                                font-size: inherit;
                                line-height: inherit
                            }

                            .elementor-widget-heading .elementor-heading-title.elementor-size-small {
                                font-size: 15px
                            }

                            .elementor-widget-heading .elementor-heading-title.elementor-size-medium {
                                font-size: 19px
                            }

                            .elementor-widget-heading .elementor-heading-title.elementor-size-large {
                                font-size: 29px
                            }

                            .elementor-widget-heading .elementor-heading-title.elementor-size-xl {
                                font-size: 39px
                            }

                            .elementor-widget-heading .elementor-heading-title.elementor-size-xxl {
                                font-size: 59px
                            }
                        </style><h4 class="elementor-heading-title elementor-size-default">Your Health Matters to Us</h4>
                    </div>
                </div>
                <div class="elementor-element elementor-element-552741f elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="552741f" data-element_type="widget" data-widget_type="divider.default">
                    <div class="elementor-widget-container">
                        <style>
                            /*! elementor - v3.9.1 - 14-12-2022 */
                            .elementor-widget-divider {
                                --divider-border-style: none;
                                --divider-border-width: 1px;
                                --divider-color: #2c2c2c;
                                --divider-icon-size: 20px;
                                --divider-element-spacing: 10px;
                                --divider-pattern-height: 24px;
                                --divider-pattern-size: 20px;
                                --divider-pattern-url: none;
                                --divider-pattern-repeat: repeat-x
                            }

                                .elementor-widget-divider .elementor-divider {
                                    display: flex
                                }

                                .elementor-widget-divider .elementor-divider__text {
                                    font-size: 15px;
                                    line-height: 1;
                                    max-width: 95%
                                }

                                .elementor-widget-divider .elementor-divider__element {
                                    margin: 0 var(--divider-element-spacing);
                                    flex-shrink: 0
                                }

                                .elementor-widget-divider .elementor-icon {
                                    font-size: var(--divider-icon-size)
                                }

                                .elementor-widget-divider .elementor-divider-separator {
                                    display: flex;
                                    margin: 0;
                                    direction: ltr
                                }

                            .elementor-widget-divider--view-line_icon .elementor-divider-separator, .elementor-widget-divider--view-line_text .elementor-divider-separator {
                                align-items: center
                            }

                                .elementor-widget-divider--view-line_icon .elementor-divider-separator:after, .elementor-widget-divider--view-line_icon .elementor-divider-separator:before, .elementor-widget-divider--view-line_text .elementor-divider-separator:after, .elementor-widget-divider--view-line_text .elementor-divider-separator:before {
                                    display: block;
                                    content: "";
                                    border-bottom: 0;
                                    flex-grow: 1;
                                    border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color)
                                }

                            .elementor-widget-divider--element-align-left .elementor-divider .elementor-divider-separator > .elementor-divider__svg:first-of-type {
                                flex-grow: 0;
                                flex-shrink: 100
                            }

                            .elementor-widget-divider--element-align-left .elementor-divider-separator:before {
                                content: none
                            }

                            .elementor-widget-divider--element-align-left .elementor-divider__element {
                                margin-left: 0
                            }

                            .elementor-widget-divider--element-align-right .elementor-divider .elementor-divider-separator > .elementor-divider__svg:last-of-type {
                                flex-grow: 0;
                                flex-shrink: 100
                            }

                            .elementor-widget-divider--element-align-right .elementor-divider-separator:after {
                                content: none
                            }

                            .elementor-widget-divider--element-align-right .elementor-divider__element {
                                margin-right: 0
                            }

                            .elementor-widget-divider:not(.elementor-widget-divider--view-line_text):not(.elementor-widget-divider--view-line_icon) .elementor-divider-separator {
                                border-top: var(--divider-border-width) var(--divider-border-style) var(--divider-color)
                            }

                            .elementor-widget-divider--separator-type-pattern {
                                --divider-border-style: none
                            }

                                .elementor-widget-divider--separator-type-pattern.elementor-widget-divider--view-line .elementor-divider-separator, .elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:after, .elementor-widget-divider--separator-type-pattern:not(.elementor-widget-divider--view-line) .elementor-divider-separator:before, .elementor-widget-divider--separator-type-pattern:not([class*=elementor-widget-divider--view]) .elementor-divider-separator {
                                    width: 100%;
                                    min-height: var(--divider-pattern-height);
                                    -webkit-mask-size: var(--divider-pattern-size) 100%;
                                    mask-size: var(--divider-pattern-size) 100%;
                                    -webkit-mask-repeat: var(--divider-pattern-repeat);
                                    mask-repeat: var(--divider-pattern-repeat);
                                    background-color: var(--divider-color);
                                    -webkit-mask-image: var(--divider-pattern-url);
                                    mask-image: var(--divider-pattern-url)
                                }

                            .elementor-widget-divider--no-spacing {
                                --divider-pattern-size: auto
                            }

                            .elementor-widget-divider--bg-round {
                                --divider-pattern-repeat: round
                            }

                            .rtl .elementor-widget-divider .elementor-divider__text {
                                direction: rtl
                            }

                            .e-con-inner > .elementor-widget-divider, .e-con > .elementor-widget-divider {
                                width: var(--container-widget-width);
                                --flex-grow: var(--container-widget-flex-grow)
                            }
                        </style>		<div class="elementor-divider">
                            <span class="elementor-divider-separator">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-37dbd601 elementor-widget elementor-widget-heading" data-id="37dbd601" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h1 class="elementor-heading-title elementor-size-default">Get a Better Healthcare With Us, Because We Care.</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-5527b29" data-id="5527b29" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">

        </div>
    </div>
</section>















<section class="elementor-section elementor-top-section elementor-element elementor-element-2cfbda6b elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="2cfbda6b" data-element_type="section" id="about" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-default">
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-39480e5b" data-id="39480e5b" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-background-overlay"></div>
                <div class="elementor-element elementor-element-7726e8db elementor-widget elementor-widget-image" data-id="7726e8db" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <style>
                            /*! elementor - v3.9.1 - 14-12-2022 */
                            .elementor-widget-image {
                                text-align: center
                            }

                                .elementor-widget-image a {
                                    display: inline-block
                                }

                                    .elementor-widget-image a img[src$=".svg"] {
                                        width: 48px
                                    }

                                .elementor-widget-image img {
                                    vertical-align: middle;
                                    display: inline-block
                                }
                        </style>												<img decoding="async" src="https://www.hamza.drajlouni.com/wp-content/uploads/2020/03/home-dentist-img-02.jpg" class="attachment-large size-large wp-image-393" alt="" loading="lazy" srcset="https://www.hamza.drajlouni.com/wp-content/uploads/2020/03/home-dentist-img-02.jpg 500w, https://www.hamza.drajlouni.com/wp-content/uploads/2020/03/home-dentist-img-02-250x300.jpg 250w" sizes="(max-width: 500px) 100vw, 500px" width="500" height="600">
                    </div>
                </div>
                <div class="elementor-element elementor-element-158cca71 elementor-widget elementor-widget-image" data-id="158cca71" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container">
                        <img decoding="async" src="https://www.hamza.drajlouni.com/wp-content/uploads/2020/03/docter.jpg" class="attachment-full size-full wp-image-394" alt="" loading="lazy" srcset="https://www.hamza.drajlouni.com/wp-content/uploads/2020/03/docter.jpg 533w, https://www.hamza.drajlouni.com/wp-content/uploads/2020/03/docter-200x300.jpg 200w" sizes="(max-width: 533px) 100vw, 533px" width="533" height="800">
                    </div>
                </div>
            </div>
        </div>
        <div class="elementor-column elementor-col-50 elementor-top-column elementor-element elementor-element-42278a3f" data-id="42278a3f" data-element_type="column">
            <div class="elementor-widget-wrap elementor-element-populated">
                <div class="elementor-element elementor-element-3c37e72d elementor-widget elementor-widget-heading" data-id="3c37e72d" data-element_type="widget" data-widget_type="heading.default">
                    <div class="elementor-widget-container">
                        <h2 class="elementor-heading-title elementor-size-default">Committed To healthcare Excellence</h2>
                    </div>
                </div>
                <div class="elementor-element elementor-element-1cf43b39 elementor-widget-divider--view-line elementor-widget elementor-widget-divider" data-id="1cf43b39" data-element_type="widget" data-widget_type="divider.default">
                    <div class="elementor-widget-container">
                        <div class="elementor-divider">
                            <span class="elementor-divider-separator">
                            </span>
                        </div>
                    </div>
                </div>
                <div class="elementor-element elementor-element-59adc4ee elementor-widget elementor-widget-text-editor" data-id="59adc4ee" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>High-quality health care helps prevent diseases and improve quality of life. Healthy People 2030 focuses on improving healthcare quality and making sure all people get the healthcare services they need.</p>
                    </div>
                </div>
                <div class="elementor-element elementor-element-7185b77d elementor-widget elementor-widget-text-editor" data-id="7185b77d" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p>Some people don’t get the health care services they need because they don’t have health insurance or live too far away from providers who offer them, and we are here for you because we care.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<section class="elementor-section elementor-top-section elementor-element elementor-element-31f0a741 elementor-section-content-middle elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="31f0a741" id="call" data-element_type="section" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
    <div class="elementor-container elementor-column-gap-no">
        <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-252b1130" data-id="252b1130" data-element_type="column" data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
            <div class="elementor-widget-wrap elementor-element-populated">
                <section class="elementor-section elementor-inner-section elementor-element elementor-element-fd2cab3 elementor-section-boxed elementor-section-height-default elementor-section-height-default" data-id="fd2cab3" data-element_type="section">
                    <div class="elementor-container elementor-column-gap-no">
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-69969243" data-id="69969243" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-4158d560 elementor-widget elementor-widget-heading" data-id="4158d560" data-element_type="widget" data-widget_type="heading.default">
                                    <div class="elementor-widget-container">
                                        <h3 class="elementor-heading-title elementor-size-default">Call Us Today for FREE Registration</h3>
                                    </div>
                                </div>
                                <div class="elementor-element elementor-element-5805ffea elementor-widget elementor-widget-text-editor" data-id="5805ffea" data-element_type="widget" data-widget_type="text-editor.default">
                                    <div class="elementor-widget-container">
                                        <p>We will help you to register with us, and we will fill in your data.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="elementor-column elementor-col-50 elementor-inner-column elementor-element elementor-element-4fdd01fa" data-id="4fdd01fa" data-element_type="column">
                            <div class="elementor-widget-wrap elementor-element-populated">
                                <div class="elementor-element elementor-element-c397dc9 elementor-align-center elementor-widget elementor-widget-button" data-id="c397dc9" data-element_type="widget" data-widget_type="button.default">
                                    <div class="elementor-widget-container">
                                        <div class="elementor-button-wrapper">
                                            <a href="#" class="elementor-button-link elementor-button elementor-size-md" role="button">
                                                <span class="elementor-button-content-wrapper">
                                                    <span class="elementor-button-text">Call +962 77599 5656</span>
                                                </span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>

